<section class="section about-2 padding-0 bg-dark">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 padding-0 ">
				<img class="img-responsive" src="images/about/coding.jpg" alt="coding">
			</div>
			<div class="col-md-6">
				<div class="content-block">
					<h2>Published software codes</h2>
					<p>
					I pursue my research with a multi- and inter-disciplinary approach, spanning several application areas of structural mechanics and physics, usually developing home-made codes.
					</p>
					<p>
					I investigated various aspects of both modeling and simulation, concerning non-standard Finite Element formulations, unconventional numerical strategies for nonlinear problems, and multiscale approaches.
					</p>
					<p>
					I also developed equivalent constitutive models and ad-hoc numerical schemes for analyzing nonlinear phenomena of nano- and micro-structured materials.
					</p>
					<div class="row">
						<div class="col-md-6">
							<div class="media">
								<div class="pull-left">
									<i class="tf-ion-ios-settings"></i>	
								</div>
								<div class="media-body">
									<h4 class="media-heading">Coding</h4>
									<p>
									I'm used to code in <a href="https://isocpp.org">C++</a>, 
									working with enhanced software libraries and compunting platforms, such as <a href="https://dealii.org">deal.II</a>, <a href="https://fenicsproject.org">FEniCS</a> and
									<a href="https://www.csc.fi/web/elmer">Elmer</a>.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="media">
								<div class="pull-left">
									<i class="tf-ion-ios-stopwatch-outline"></i>	
								</div>
								<div class="media-body">
									<h4 class="media-heading">Scientific Rank</h4>
									<p>
									I hold academic rank since 2005 at <a href="https://www.uniroma3.it">Roma Tre University</a>.
									I earned my Ph.D. at <a href="https://www.unical.it">Calabria University</a>, while my post-doc was at <a href="https://www.helsinki.fi/en">HUT</a>.
								</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Start Bios
		=========================================== -->

<section id="testimonial" class="testimonial overly section bg-2">
	<div class="container">
		<div class="row">				
			<div class="col-lg-12">
				<!-- testimonial wrapper -->
				<div id="testimonials" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
				
					<!-- testimonial single -->
					<div class="item text-center">
						
						<!-- client photo -->
						<div class="client-thumb">
							<img src="images/about/MD.jpg" class="img-responsive" alt="Meghna">
						</div>
						<!-- /client photo -->
						
						<!-- client info -->
						<div class="client-info">
							<div class="client-meta">
								<h3>M. Struct. Eng.</h3>
								<span>Oct 19, 2000</span>
							</div>
							<div class="client-comment">
								<p>Master's Degree in Structural Engineering earned at Calabria University with a thesis on "Nonlinear Analysis of brick masonry walls exhibiting damage and friction responses". </br> 
									Advisor Prof. Raffaele Casciaro.
								</p>
							</div>
						</div>
						<!-- /client info -->
					</div>
					<!-- /testimonial single -->
				
					<!-- testimonial single -->
					<div class="item text-center">
						
						<!-- client photo -->
						<div class="client-thumb">
							<img src="images/about/PhD.jpg" class="img-responsive" alt="Meghna">
						</div>
						<!-- /client photo -->
						
						<!-- client info -->
						<div class="client-info">
							<div class="client-meta">
								<h3>Comp. Mech. Ph.D.</h3>
								<span>Mar 7, 2005</span>
							</div>
							<div class="client-comment">
								<p>
								Ph.D. in Computational Mechanics earned at Calabria University with a thesis on "Multilevel analysis of brick masonry walls".</br> 
									Supervisor Prof. Raffaele Casciaro.</p>
							</div>
						</div>
						<!-- /client info -->
					</div>
					<!-- /testimonial single -->
				
					<!-- testimonial single -->
					<div class="item text-center">
						
						<!-- client photo -->
						<div class="client-thumb">
							<img src="images/about/Post-Doc.jpg" class="img-responsive" alt="Meghna">
						</div>
						<!-- /client photo -->
						
						<!-- client info -->
						<div class="client-info">
							<div class="client-meta">
								<h3>Post-Doc</h3>
								<span>Aug 31, 2005</span>
							</div>
							<div class="client-comment">
								<p>
								Post-Doc at the Institute of Mathematics, Helsinki University of Technology, on crack-growth numerical simulation in linear-elastic continua. 
									Supervisor Dr. Mikko Lyly.
							</p>
							</div>
						</div>
						<!-- /client info -->
					</div>
					<!-- /testimonial single -->
					
					<!-- testimonial single -->
					<div class="item text-center">
						
						<!-- client photo -->
						<div class="client-thumb">
							<img src="images/about/prof.jpg" class="img-responsive" alt="Meghna">
						</div>
						<!-- /client photo -->
						
						<!-- client info -->
						<div class="client-info">
							<div class="client-meta">
								<h3>Professorship</h3>
								<span>Sep 1, 2005</span>
							</div>
							<div class="client-comment">
								<p>
								Professor rank in Solid Mechanics at Roma Tre University. </br>
								Assistant Professor in 2005-2014. Associate Professor in 2015-2021. Full Professor since Nov 2021.
							</p>
							</div>
						</div>
						<!-- /client info -->
					</div>
					<!-- /testimonial single -->

				</div>		<!-- end testimonial wrapper -->
			</div> 		<!-- end col lg 12 -->
		</div>	    <!-- End row -->
	</div>       <!-- End container -->
</section>    <!-- End Section -->
